.textbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    width: 200px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: var(--background2);
}

.textbox > * {
    border: none;
    margin: 0 5px 0 10px;
    outline: 0;
    height: 100%;
    background-color: transparent;
}

.textbox:not(:last-child){
    border-bottom: none;
}

.submit {
    margin-top: 10px;
    width: 220px;
    height: 32px;
    background-color: var(--accent1);
    border: none;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
}

.submit:hover {
    /*TODO: Style on hover*/
}

.submit:focus {
    /*TODO: Style on click*/
}