.App.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App.login > * {
    padding: 100px;
}

.App.login > :first-child {
    border-right: 1px solid var(--background2);
}