.App.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 49px);
}

.App.login > * {
    padding: 100px;
}

.App.login:not(.only) > :first-child {
    border-right: 1px solid var(--background2);
}