.navlist {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 49px;
    z-index: 9999;
}

.navlist>* {
    float: left;
}

.navlist>*>a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navlist>*>a:hover {
    background-color: #111;
}

.navlogo {
    height: 32px;
    padding: 8px 8px 0px 16px;
}

.navfloat {
    float: right;
}